<footer class="bg-primary text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4>Integrantes</h4>
                <ul class="list-unstyled">
                    <p>- Andrés Mauricio Bonilla</p>
                    <p>- Juan Sebastián Dosman</p>
                </ul>
            </div>

            <div class="col-md-4 text-center">
                <h4>Correo electrónico</h4>
                <ul class="list-unstyled">
                    <p>- AndyBoni_2012@hotmail.com</p>
                    <p>- Jsdosman0@gmail.com</p>
                </ul>
            </div>

            <div class="col-md-4 text-center">
                <h4>Códigos de estudiante</h4>
                <ul class="list-unstyled">
                    <p>- 30000085375</p>
                    <p>- 30000085883</p>
                </ul>
            </div>
        </div>
    </div>

    <style>
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 23%;
        }
    </style>
</footer>