<head>
    {% load bootstrap4 %} 
    {% bootstrap_css %} 
    {% load widget_tweaks %}
    {% load static %} 
    <link rel="shortcut icon" href="{% static 'assets/icon.jpg' %}">
    <title>Lab. Software</title>
</head>
<body>
    {% include 'components/navbar/navbar.html' %}

    <div class="container text-center mt-3">
        <h4>Detalles</h4>

        <p><span class="txt_negrita">Id profesor:</span> <br> {{object.profesor}}</p>
        <p><span class="txt_negrita">Id departamento:</span> <br> {{object.id_departamento_fk}}</p>
        <p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
        <p><span class="txt_negrita">Dirección:</span> <br> {{object.direccion}}</p>
        <p><span class="txt_negrita">Teléfono:</span> <br> {{object.telefono}}</p>

        <a href="/profesores" type="submit" class="btn btn-primary">Volver</a>
    </div>

    {% include 'components/footer/footer.html' %}
    {% bootstrap_javascript jquery='full' %} 
</body>
