<head>
    {% load bootstrap4 %} 
    {% bootstrap_css %} 
    {% load widget_tweaks %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'assets/icon.jpg' %}"> 
    <title>Lab. Software</title>
</head>
<body>
    {% include 'components/navbar/navbar.html' %}

    <div class="container text-center">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="35%">Id departamento</th>
                    <th>Nombre</th>
                    <th>Director</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for departamentos in object_list %}
    
                <tr>
                    <td>{{ departamentos.id_departamento }}</td>
                    <td>{{ departamentos.nombre }}</td>
                    <td>{{ departamentos.director }}</td>
                    <td>{{ departamentos.descripcion }}</td>
                    <td>
                        <form method="POST" action="eliminar/{{departamentos.id_departamento}}">
                            {% csrf_token %}
    
                            <div class="btn-group">
                                <a href="detalle/{{departamentos.id_departamento}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                <a href="editar/{{departamentos.id_departamento}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                    Eliminar
                                </button>
                            </div>
                        </form>  
                    </td>
                </tr>
    
                {% endfor %}
            </tbody>
        </table>
    
        <div align="center" class="btn_crear mb-3">
            <a href="crear" type="button" class="btn btn-primary">Crear</a> <!-- Boton crear -->
        </div>
    </div>

    <script type="text/javascript">
        function eliminar() {
            var x = confirm("Desea eliminar el departamento?");
            if (x)
                return true;
            else
                return false;
        }
    </script>

    {% include 'components/footer/footer.html' %}
    {% bootstrap_javascript jquery='full' %} 
</body>